html {
    font-family: Lato, sans-serif;
}

body{
    background-color: #f7ede2;
}

.bodypart{
    background-color: white;
    margin: 50px 200px;
    padding: 20px;
}
.navbar {
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px; 
}

.navbar__navigation{
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
}

.navbar__navigation-item{
    margin-left: 50px;
}

main{
    max-width: 550px;
    margin: 0 auto;
    padding: 0 20px;
}

.form-list__input{
    width: 70%;
    font-size: 30px;
    font-weight: 500;
    margin-right: 20px;
    border: none;
    background-color: #f3f6f6;
    padding: 10px;
}


.form-item{
    display: flex;
}

.form-item__input{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
    border: none;
    background-color: #f3f6f6;
    padding: 5px;
}

.listitem{
    font-size: 20px;
}

.submitbar {
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    justify-content: right;
    font-size: 20px; 
}

.submitbar__navigation{
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
}

.submitbar__navigation-item{
    margin-left: 50px;
}

.submitbar__link{
  background-color: #f7ede2;
  border: none;
  border-radius: 12px;
  display: inline-block;
  float: none;
  font-size:20px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 100px;
  height: 30px;
}

.submitbar__link:hover{
  background-color: #4CAF50;
  color: white;