html {
    font-family: Lato, sans-serif;
}

body{
    background-color: #f7ede2;
}

h1{
    text-align: center;
}
.bodypart{
    background-color: white;
    margin: 50px 200px;
    padding: 20px;
}

.navbar {
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px; 
}

.navbar__navigation{
    list-style: none;
    color:black;
    display: flex;
    padding: 0;
    align-items: center;
}

.navbar__navigation-item{
    margin-left: 50px;
    text-align: center;
}

main{
    max-width: 550px;
    margin: 0 auto;
    padding: 0 20px;
}

.form-list__input{
    width: 70%;
    font-size: 35px;
    font-weight: 530;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid #dadce0;
    padding: 10px;
}

.form-item{
    display:flex;
    justify-content: space-between;
    margin-right: 20px;
}

.form-item__input{
    width: 70%;
    font-size: 23px;
    font-weight: 470;
    margin-left: 30px;
    border: none;
    background-color: #f3f6f6;
    padding: 10px;
}

.form__entry{
    width: 60px;
}
.listitem{
    font-size: 25px;
    margin-left: 40px;
}

.submitbar {
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    justify-content: right;
    font-size: 20px; 
}

.submitbar__navigation{
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
}

.submitbar__navigation-item{
    margin-left: 50px;
}

.submitbar__link{
  background-color: #e29578;
  color:white;
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: none;
  font-size:20px;
  padding: 5px;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 100px;
  height: 30px;
}

.submitbar__link:hover{
  background-color: #ffddd2;
  color: #6c757d;