<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Shopping List</title>
    </head>

    <body style="background:#f5d9d5">
        {% block content %}
        {% endblock content %}
        <!-- Create new list link : once hit, 
                            1. If both List Name AND current Item list = empty -> no action (or go straight to Home page)
                            2. If there's change -> prompt to ask user to either save or discard
                            -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                {% if not listname %}
                <a class="navbar-brand fs-3" href="/">
                    <img src="https://image.shutterstock.com/image-vector/shopping-list-line-art-style-260nw-643093108.jpg"
                        width="60" height="60" class="d-inline-block align-center" alt="">
                    Shopping List
                </a>
                {% else %}
                <a class="navbar-brand fs-3" href="#" data-toggle="modal" data-target="#promptask-newModal">
                    <img src="https://image.shutterstock.com/image-vector/shopping-list-line-art-style-260nw-643093108.jpg"
                        width="60" height="60" class="d-inline-block align-center" alt="">
                    Shopping List
                </a>
                {% endif %}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
                        {% if not listname %}
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a href="/save" class="nav-link">My Lists</a>
                    </div>
                    <div class="d-flex">
                        <a href="/" class="nav-link"><span class="badge rounded-pill bg-primary fs-5 mx-5">+
                                New</span></a>
                        {% else %}
                        <a class="nav-link active" aria-current="page" href="#" data-toggle="modal"
                            data-target="#promptask-newModal">Home</a>
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#promptask-historyModal">My
                            Lists</a>
                    </div>
                    <div class="d-flex">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#promptask-newModal"><span
                                class="badge rounded-pill bg-primary fs-5 mx-5">+
                                New</span></a>
                        {% endif %}
                        <svg class="mx-5" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                            role="presentation" focusable="false" style="height: 40; width: 40; fill: currentcolor;">
                            <path
                                d="m16 .7c-8.437 0-15.3 6.863-15.3 15.3s6.863 15.3 15.3 15.3 15.3-6.863 15.3-15.3-6.863-15.3-15.3-15.3zm0 28c-4.021 0-7.605-1.884-9.933-4.81a12.425 12.425 0 0 1 6.451-4.4 6.507 6.507 0 0 1 -3.018-5.49c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5a6.513 6.513 0 0 1 -3.019 5.491 12.42 12.42 0 0 1 6.452 4.4c-2.328 2.925-5.912 4.809-9.933 4.809z">
                            </path>
                        </svg>
                    </div>

                </div>
            </div>
        </nav>

        <div class="container mx-auto my-5 p-5 bg-light content">
            <!-- Below is the main body of the web (below the nav bar) -->
            <main>
                <!-- This is the 1st section where there's a text box to input 'List name' and another text box to add 'Item name' -->
                <section>
                    <form class="form" method="POST" action="/display">
                        <!-- Add text box for user to input the name of the new list (required) -->
                        <div>
                            {% if not listname %}
                            <input type="text" class="form-list__input" name="list" id="input" maxlength="30"
                                placeholder="Name your new list" required>
                            {% else %}
                            <input type="text" class="form-list__input" name="list" id="input" value="{{listname}}"
                                maxlength="30" required>

                            {% endif %}
                        </div>

                        <!-- Add text box and button to add items into list -->
                        <div class=" form-item">
                            <input type="text" class="form-item__input" name="item" id="input" maxlength="30"
                                placeholder="Add item" required>
                            <button type="submit" class="form__entry">Add</button>
                        </div>

                    </form>
                </section>

                <!-- This is the 2nd section which display all items that are added from the input bar above along with other information -- NEED MERGE -->
                <section>
                    <form class="listitem" method="POST" action="/save-details/{{listname}}">
                        {% for entry in entries %}
                        <p class="list_item_row">
                            <input class="checkbox" type="checkbox" id="{{entry[3]}}">
                            <label for="{{entry[3]}}" class="strikethrough">{{entry[3]}}</label>
                            <a class="list_row_delete" style="float: right;" href="/delete/{{entry[3]}}/{{listname}}">
                                <svg xmlns=" http://www.w3.org/2000/svg" width="20" height="20" fill="red"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </a>

                            <input type="hidden" name="row_item" value="{{entry[3]}}">
                            <input type="text" style="float: right;" class="list_row_notes" name="row_note"
                                placeholder="Notes" value="{{entry[2]}}">

                            <!-- Change Vendor to unit -->

                            <select name="row_units" id="row_units" style="float: right;" class="list_row_units">
                                <option value="{{entry[1]}}">{{entry[1]}}</option>
                                <option value="kg">kg</option>
                                <option value="lb">lb</option>
                                <option value="ounce">ounce</option>
                            </select>

                            <!-- Quantity text box -->
                            <input type="number" style="float: right;" class="list_row_quantity" id="list_row_quantity"
                                name="row_quantity" min="1" max="99" step="1" value="{{entry[0]}}">

                        </p>

                        {% endfor %}
                        <div" class="submitbar">
                            <ul class="submitbar__navigation">
                                {% if listname %}
                                <!-- Save button: once hit, save records/ changes to DB (which was automatically done when input) and redirect to View list history.  -->
                                <li class="submitbar__navigation-item">
                                    <button type="submit" class="submitbar__link">Save</button>
                                    <!-- <a href="/save-details/{{listname}}"
                                        class="submitbar__link">Save</a> -->
                                </li>
                                <!-- Discard button: once hit, prompt to ensure with user -> discard all records that are currently displayed and go back to Home page  -->
                                <li class="submitbar__navigation-item">
                                    {% include 'confirm_discard_modal.html' %}
                                    <a href="/discard/{{listname}}" class="submitbar__link" data-toggle="modal"
                                        data-target="#deleteModal" id="discardButton{{listname}}">Discard</a>
                                    <!-- <button type="button" class="submitbar__link"
                                        data-toggle="modal" data-target="#deleteModal">Discard</button> -->
                                </li>


                                {% endif %}
                            </ul>
        </div>
        </form>

        </section>

        </main>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="/static/script.js"></script>

        <!-- Prompt Ask - New Modal -->
        <div class="modal fade" id="promptask-newModal" tabindex="-1" role="dialog"
            aria-labelledby="promptask-newModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="promptask-newModalLabel" style="font-size: 17px;">Save or Discard?
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to save the current list?
                    </div>
                    <div class="modal-footer">
                        <a href="/" class="btn btn-primary">Save</a>
                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                            data-target="#deleteModal">Discard</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Prompt Ask - History Modal -->
        <div class="modal fade" id="promptask-historyModal" tabindex="-1" role="dialog"
            aria-labelledby="promptask-historyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="promptask-historyModalLabel" style="font-size: 17px;">Save or
                            Discard?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to save the current list?
                    </div>
                    <div class="modal-footer">
                        <a href="/save" class="btn btn-primary">Save</a>
                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                            data-target="#deleteModal">Discard</button>
                    </div>
                </div>
            </div>
        </div>


    </body>

</html>