<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="C://Users/Owner/Desktop/SHOPPING LIST FILES/GITHUB MAIN BRANCH/static\styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
        <title>Create New List</title>
    </head>
    <body>
        <h1 align = "center">
            LIST HISTORY
            <a class="history_new_list_button" href="/"><span class="button-item">Create new list</span></a>
        </h1>

        <section>
            <form class="form" method="GET" action="/save">
                <table align="center" class="table">
                    <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__header">List Name</th>
                            <th class="table__header">Date Created</th>
                            <th class="table__header"></th>
                        </tr>
                    </thead>
                    {% for row in recordslist %}
                        <tr class="table__row">



                            <td class="table__cell"> <a name="name_of_list" href="/save/display/{{row[0]}}">{{row[0]}}</a> </td>

                            <!-- <td class="table__cell">{{row[0]}}</td> -->
                            <td class="table__cell">{{row[1]}}</td>
                            <td class="table__cell"> <a class="delete_list_button" href="/list_delete/{{row[0]}}"><span class="button-item">Delete</span></a> </td>

                        </tr>
                    {% endfor %}
                </table>

            </form>
        </section>

    </body>

    <footer>

    </footer>
</html>